services:
  api:
    build: .
    ports:
      - "8000:8000"
    command: uvicorn smartpurchase.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./src:/app/src
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/mydatabase

  db:
    image: postgres:15
    ports:
      - "5433:5432"
    volumes:
      - ./.data/postgres:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydatabase
